body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  .box {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }


  .subtitle {
    color: chocolate;
    font-family: 'Rubik Burned', system-ui;
  }
    h1 {
    font-family: 'Rubik Burned', system-ui;
    color: blueviolet;
  }
  .forcolor{
    font-family: 'Rubik Burned', system-ui;
    color: blue;
  }
  button {
    font-family: 'Grape Nuts', cursive;
    color: brown;
  }
  p{
    color: darkgreen;
  }